.slider{
    border: 5px solid black;
    height: 700px;
    overflow: hidden;
    
    .slider-frame{
        height: 100%;
        display: flex;
        position: relative;
        left: 0px;
        transition: all 0.3s ease;
        .slider-item{
            height: 100%;
            width: 100%;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
.slider-controls{
    margin-top: 30px;
    .btn{
        border: 0px;
        outline: 0px;
        padding: 20px 50px;
        background: lightgray;
        color: black;
        cursor: pointer;
        border: 1x solid red;
        display: inline-block;
        &:hover{
            background: black;
            color: white;
        }
    }
}