#collectionproducts{
    .banneritem{
        box-sizing: border-box;
        overflow: hidden;
        .discount{
            height: 350px;
            width: 100%;
            position: relative;
            &:hover .effect-animation{
                opacity: 1;
                transform: scale(1.0);
            }
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;
            }
            .effect-animation{
                margin: auto;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.05);
                box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.2);
                border: 1px solid white;
                z-index:5;
                top: 20px; 
                left: 20px;
                bottom: 20px; 
                right: 20px;
                transform: scale(1.4);
                opacity: 0;
                transition: all 0.4s ease;
            }
        }
    }
}