body {
  font-family: 'Roboto', sans-serif;
}

#bhdTopNavbar .navbar {
  background: #f5f5f5;
}

#bhdTopNavbar .contacts {
  font-size: 14px;
  font-weight: 300;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bhdTopNavbar .contacts i, #bhdTopNavbar .contacts a, #bhdTopNavbar .contacts span {
  color: #666;
}

#bhdTopNavbar .saletopbar {
  font-size: 14px;
  font-weight: 300;
}

#bhdTopNavbar .saletopbar p, #bhdTopNavbar .saletopbar u, #bhdTopNavbar .saletopbar span {
  color: #666;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bhdTopNavbar .saletopbar .btn {
  font-weight: 700;
  background: #802c81;
  border: 0px;
}

#bhdTopNavbar .saletopbar .btn:hover {
  background: #eac2ea;
  color: #802c81;
}

#bhdTopNavbar .socialmedia a, #bhdTopNavbar .socialmedia ul, #bhdTopNavbar .socialmedia li {
  color: #666;
  list-style-type: none;
  font-size: 14px;
  font-weight: 300;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bhdTopNavbar .socialmedia .bi {
  font-size: 17px;
}

#bhdTopNavbar .socialmedia .bi:hover {
  color: #802c81;
}

#bhdNavBar .logonavbar {
  background: white;
}

#bhdNavBar .logonavbar a {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#bhdNavBar .logonavbar a:hover {
  color: #802c81;
}

#bhdNavBar .logonavbar i {
  font-size: 18px;
}

#bhdNavBar .logonavbar i:hover {
  color: #802c81;
}

#bhdNavBar .logonavbar .shopbag span {
  font-size: 14px;
}

#bhdNavBar .logonavbar .shopbag span:hover {
  color: #802c81;
}

#bhdNavBar .logonavbar .navright .line {
  font-size: 20px;
  font-weight: 300;
}

#bhdSlider .carousel-fade {
  overflow: hidden;
}

#bhdSlider .carousel-fade:hover .carousel-control-prev {
  left: 0px;
}

#bhdSlider .carousel-fade:hover .carousel-control-next {
  right: 0px;
}

#bhdSlider .carousel-fade .carousel-item {
  height: 670px;
}

#bhdSlider .carousel-fade .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#bhdSlider .carousel-fade .carousel-item h3 {
  font-weight: 700;
  font-size: 22px;
  color: #1a1a1a;
}

#bhdSlider .carousel-fade .carousel-item h3 span {
  color: #802c81;
}

#bhdSlider .carousel-fade .carousel-item p {
  font-weight: 700;
  font-size: 48px;
  color: #1a1a1a;
}

#bhdSlider .carousel-fade .carousel-item .btn {
  background: #1a1a1a;
  border: 0px;
  font-weight: 700;
  font-size: 14px;
  padding: .8rem 1.5rem;
}

#bhdSlider .carousel-fade .carousel-item .btn:hover {
  background: #802c81;
}

#bhdSlider .carousel-fade .carousel-control-prev {
  width: 5%;
  left: -100px;
  opacity: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#bhdSlider .carousel-fade .carousel-control-prev .prev-icon {
  color: white;
  font-size: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#bhdSlider .carousel-fade .carousel-control-prev .prev-icon:hover {
  color: #802c81;
}

#bhdSlider .carousel-fade .carousel-control-next {
  width: 5%;
  right: -100px;
  opacity: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#bhdSlider .carousel-fade .carousel-control-next .next-icon {
  color: white;
  font-size: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#bhdSlider .carousel-fade .carousel-control-next .next-icon:hover {
  color: #802c81;
}

#bhdTrendingProducts .card-img-top {
  height: 300px;
  border-radius: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

#bhdTrendingProducts .sale {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 700;
  padding: 0px 10px;
  background: #802c81;
  color: white;
  font-size: 14px;
}

#bhdTrendingProducts .shop {
  position: absolute;
  top: 10px;
  right: -50px;
  background: white;
  padding: 0.3rem 0.55em;
  color: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#bhdTrendingProducts .shop:hover {
  background: #802c81;
  color: white;
}

#bhdTrendingProducts .quickview {
  position: absolute;
  top: 60px;
  right: -50px;
  background: white;
  padding: 0.3rem 0.55em;
  color: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#bhdTrendingProducts .quickview:hover {
  background: #802c81;
  color: white;
}

#bhdTrendingProducts .container {
  margin-top: 80px;
  margin-bottom: 10px;
}

#bhdTrendingProducts .container h3 {
  font-size: 28px;
  font-weight: 700;
}

#bhdTrendingProducts .container span {
  font-size: 16px;
  font-weight: 300;
}

#bhdTrendingProducts .card {
  border-radius: 0px;
  border: 0px;
}

#bhdTrendingProducts .card:hover .shop {
  right: 10px;
}

#bhdTrendingProducts .card:hover .quickview {
  right: 10px;
}

#bhdTrendingProducts .card h5 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

#bhdTrendingProducts .card span {
  font-size: 14px;
  font-weight: 400;
}

#bhdTrendingProducts .card {
  overflow: hidden;
}

#bhdTrendingProducts .carousel-control-prev {
  width: 5%;
  left: 10px;
  opacity: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#bhdTrendingProducts .carousel-control-next {
  width: 5%;
  right: 10px;
  opacity: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#bhdTrendingProducts .carousel-multi-item:hover .carousel-control-prev {
  opacity: 1;
}

#bhdTrendingProducts .carousel-multi-item:hover .carousel-control-next {
  opacity: 1;
}

#bhdTrendingProducts .carousel-multi-item .carousel-control-prev {
  color: #1a1a1a;
  left: -60px;
  opacity: 0;
  height: 80%;
}

#bhdTrendingProducts .carousel-multi-item .carousel-control-prev:hover {
  color: #802c81;
}

#bhdTrendingProducts .carousel-multi-item .carousel-control-next {
  color: #1a1a1a;
  right: -60px;
  opacity: 0;
  height: 80%;
}

#bhdTrendingProducts .carousel-multi-item .carousel-control-next:hover {
  color: #802c81;
}
/*# sourceMappingURL=style.css.map */