body, h1, h2, h3, h4, h5, p, i{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(230, 230, 230);
}
*{
    transition: all .5s linear;
}
#blog{
    padding: 100px 0px;
}
.blog-item{
    min-height: 425px;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 15px;
    background: white;
    box-shadow: 0px 0px 5px lightgray;
}
.image{
    height: 250px;
    position: relative;
    overflow: hidden;
}
.blog-date{
    position: absolute;
    background: rgb(255, 255, 255);
    bottom: 10px;
    left: 10px;
    z-index: 3;
}
.blog-date span{
    padding: 5px 20px;
    display: block;
    text-align: center;
    background: #002741;
    color: white;
}
.image-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(41, 128, 185, .0);
    top: 0px;
    left: 0px;
    z-index: 2;
}
.image-icon{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    font-size: 1.5em;
    color: white;
    opacity: 0;
}
img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    z-index: 1;
}
h3{
    font-size: 18px;
    color: #2980b9;
    margin: 30px 0px;
}
.blog-item:hover h3{
    color: #002741;
}
.blog-info{
    padding: 15px 0px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    color: gray;
    font-size: 13px;
}
.blog-info i{
    margin-right: 5px;
}
.blog-info span{
    margin-right: 20px;
}
.col-12 span{
    text-align: center;
    width: 30px;
    background: #002741;
    color: white;
    padding: 5px 10px;
}
.col-12{
    width: 100%;
    margin: auto;
    padding: 30px 0px;
    text-align: center;
}
.container{
    width: 1170px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col-4{
    width: calc((100%/3) - 20px);
    margin: 5px;
}
.blog-item:hover{
    box-shadow: 0px 0px 10px rgb(151, 151, 151);
}
.blog-item:hover .image-overlay{
    background: rgba(41, 128, 185, .5);
    transform: rotateX(180deg);
}
.blog-item:hover .image-icon{
    opacity: 1;
    transform: rotate(360deg);
}
.blog-item:hover img{
    transform: scale(1.1);
}

@media (max-width: 576px) {
    .container{
        width: 100%;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
    }
    .row{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .col-4{
        width: calc((100%/1) - 20px);
        margin: auto;
    }
}


@media (min-width: 576px) and (max-width: 768px) {
    .container{
        width: 100%;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
    }
    .row{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .col-4{
        width: calc((100%/2) - 20px);
        margin: auto;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .container{
        width: 100%;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
    }
    .row{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .col-4{
        width: calc((100%/2) - 20px);
        margin: auto;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    .container{
        width: 100%;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
    }
    .row{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .col-4{
        width: calc((100%/3) - 20px);
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .container{
        width: 1170px;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
    }
    .row{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .col-4{
        width: calc((100%/3) - 20px);
        margin: auto;
    }
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }